NODE_ENV=dev|production

NEXTAUTH_URL=http://my-frontend-url/
NEXTAUTH_SECRET=SOMESECRET

BACKEND_API=http://my-backend-api

AUTH_SIGNIN_URI=http://my-backend-api/user/write
AUTH_LOGIN_URI=http://auth-url/auth/login
AUTH_LOGOUT_URI=http://auth-url/auth/logout
AUTH_REFRESH_URI=http://auth-url/auth/refresh
AUTH_CHANGE_PASSWORD_URI=http://auth-url/auth/password

REGISTRO_CIVIL_URI=https://some-url
REGISTRO_CIVIL_TOKEN=TOKEN

DATABASE_URL=mysql://user:password@host:port/database