.control {
  padding: rem(4px) rem(8px);
  background-color: var(--mantine-color-neutral-light);
  color: var(--mantine-color-neutral-filled);

  transition: background-color 0.3s ease, color 0.3s ease;

  &[data-active] {
    background-color: var(--mantine-color-neutral-filled);
    color: var(--mantine-color-white);
  }
}

.icon-size {
  width: 16px;
  height: 16px;
}
