.wrapper {
  position: relative;
  max-height: 300px;
}

.dropzoneContainer {
  margin-bottom: calc(1.875rem * var(--mantine-scale));
  border: rem(2px) solid var(--mantine-color-omegaColors-3);
  border-style: dashed;
  border-radius: var(--mantine-radius-lg);
  padding: 2rem 1rem;
  max-width: 300px;
  color: var(--mantine-color-anchor);
}

.dropzone {
  border-width: rem(1px);
  padding-bottom: rem(50px);
  cursor: pointer !important;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
  position: absolute;
  width: 100%;
  bottom: rem(15px);
}
