.header {
    width: 100%;
    padding: rem(8px) rem(16px);
    transition: background-color 0.3s ease-in-out;
    color: var(--mantine-color-omegaColors-5);
  }
  
  .header.open {
    color: var(--mantine-color-white);
  }
  
  .icon {
    transition: transform 0.2s ease-in;
  }
  
  .open {
    background-color: var(--mantine-color-omegaColors-6);
  }
  
  .open .icon {
    transform: rotate(180deg);
  }
  