.navbar {
  max-height: rem(100vh);
  width: rem(250px);
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-omegaColors-filled);
  display: flex;
  flex-direction: column;
}

.linkGroup {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.linkGroup::-webkit-scrollbar {
  width: 0px;
}
.linkGroup::-webkit-scrollbar-track,
.linkGroup::-webkit-scrollbar-thumb,
.linkGroup::-webkit-scrollbar-thumb:hover {
  background: #ffffff00;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: rem(1px) solid var(--mantine-color-omegaColors-7);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid var(--mantine-color-omegaColors-7);
}

.version {
  background-color: var(--mantine-color-omegaColors-7);
  color: var(--mantine-color-white);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: rem(8px) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  @mixin hover {
    background-color: var(--mantine-color-omegaColors-7);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-omegaColors-filled);

      .linkIcon {
        color: var(--mantine-color-omegaColors-filled);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-omegaColors-1);
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}
