.th {
  padding: 0;
  background-color: var(--mantine-color-neutral-1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--mantine-color-neutral-9);
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  text-transform: uppercase;
}

.icon {
  width: rem(21px);
  height: rem(21px);
  border-radius: rem(21px);
}
