.mainLink {
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
  padding: rem(8px) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  text-decoration: none;

  width: rem(40px);
  height: rem(40px);
  overflow: hidden;

  transition: background-color 0.1s ease-in, width 0.2s ease-in;

  &.open {
    width: rem(210px);
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-omegaColors-light-color);
      font-weight: 500;
    }

    &.open,
    &.open:hover {
      background-color: var(--mantine-color-omegaColors-light);
      color: var(--mantine-color-omegaColors-light-color);
    }

    & .mainLinkIcon,
    &:hover .mainLinkIcon {
      color: var(--mantine-color-omegaColors-light-color);
    }

    & .mainLinkText{
      font-weight: 500;
    }
  }
}

.mainLinkInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.mainLinkText { 
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .mainLink {
    width: 100%!important;
  }
}