.mainLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  font-size: var(--mantine-font-size-xs);
  padding: rem(8px) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 400;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-omegaColors-0),
      var(--mantine-color-omegaColors-6)
    );
    color: light-dark(
      var(--mantine-color-omegaColors-7),
      var(--mantine-color-omegaColors-0)
    );

    .mainLinkIcon {
      color: light-dark(
        var(--mantine-color-omegaColors-7),
        var(--mantine-color-omegaColors-0)
      );
    }
  }

  &[data-active] {
    &,
    &:hover {
      font-weight: 600;
      background-color: var(--mantine-color-omegaColors-light);
      color: var(--mantine-color-omegaColors-light-color);

      .mainLinkIcon {
        color: var(--mantine-color-omegaColors-light-color);
      }
    }
  }
}

.mainLinkInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.mainLinkBadge {
  padding: 0;
  width: rem(20px);
  height: rem(20px);
  pointer-events: none;
}
