.container {
  border-radius: var(--mantine-radius-md);
  width: 100%;
  background-color: var(--mantine-color-white);
  padding: rem(4px);
}

.control {
  width: 100%;
  padding-left: rem(16px);
  padding-right: rem(16px);
  padding-top: rem(12px);
  padding-bottom: rem(12px);
}

.innerLog {
  margin: rem(8px);
  padding-left: rem(16px);
  padding-right: rem(16px);
  padding-top: rem(4px);
  padding-bottom: rem(4px);
  background-color: var(--mantine-color-neutral-light-hover);
  border-radius: var(--mantine-radius-sm);
}
