.control {
  text-transform: uppercase;
  padding: rem(8px) rem(16px);
  background-color: transparent;
  border-radius: var(--mantine-radius-sm);

  &[data-active] {
    background-color: var(--mantine-color-orange-filled);
    color: var(--mantine-color-white);
    font-weight: 500;
  }
}
