.wrapper {
  border-top: 1px solid var(--mantine-color-neutral-2);
  width: 100%;
  cursor: default;
}

.clickable {
  cursor: pointer;

  &[data-active] {
    & > .inner {
      background-color: var(--mantine-color-omegaColors-light);
      color: var(--mantine-color-omegaColors-light-color);
    }

    & .section {
      color: var(--mantine-color-omegaColors-light-color);
    }
  }

  &:hover {
    & .section {
      color: var(--mantine-color-omegaColors-light-color);
    }
  }
}

.inner {
  width: 100%;
  transition: background-color 0.1s ease-in;
  border-radius: var(--mantine-radius-sm);
}

.section {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  transition: color 0.3s ease-in;
}
